stdin/stdin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="github.com/agentflare-ai/agentml/stdin"
    xmlns:stdin="github.com/agentflare-ai/agentml/stdin"
    xmlns:agent="github.com/agentflare-ai/agentml/agent"
    elementFormDefault="qualified">

    <xs:import namespace="github.com/agentflare-ai/agentml/agent"
        schemaLocation="../agentml.xsd">
        <xs:annotation>
            <xs:documentation>Import AgentML schema to access invokable substitution group</xs:documentation>
        </xs:annotation>
    </xs:import>

    <!-- Stdin read element - joins invokable substitution group -->
    <xs:element name="read" substitutionGroup="agent:invokable">
        <xs:complexType>
            <xs:attribute name="location" type="xs:string" />
            <xs:attribute name="dataid" type="xs:string" />
            <xs:attribute name="prompt" type="xs:string" />
            <xs:attribute name="promptexpr" type="xs:string" />
        </xs:complexType>
    </xs:element>

</xs:schema>