stdin/stdin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="file://../../stdin"
    xmlns:stdin="file://../../stdin"
    xmlns:agentml="https://xsd.agentml.dev/agentml"
    elementFormDefault="qualified">

    <xs:import namespace="https://xsd.agentml.dev/agentml"
        schemaLocation="https://xsd.agentml.dev/agentml.xsd">
        <xs:annotation>
            <xs:documentation>Import AgentML schema to access invokable substitution group</xs:documentation>
        </xs:annotation>
    </xs:import>

    <!-- Stdin read element - invokable that reads from stdin and sends events -->
    <xs:element name="read" substitutionGroup="agentml:invokable">
        <xs:complexType>
            <xs:attribute name="event" type="xs:string" default="stdin.read" />
            <xs:attribute name="prompt" type="xs:string" />
            <xs:attribute name="promptexpr" type="xs:string" />
        </xs:complexType>
    </xs:element>

</xs:schema>