stdin/stdin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="xsd.agentml.dev/stdin"
    xmlns:stdin="xsd.agentml.dev/stdin"
    xmlns:agentml="xsd.agentml.dev/agentml"
    elementFormDefault="qualified">

    <xs:import namespace="xsd.agentml.dev/agentml"
        schemaLocation="https://xsd.agentml.dev/agentml.xsd">
        <xs:annotation>
            <xs:documentation>Import AgentML schema to access invokable substitution group</xs:documentation>
        </xs:annotation>
    </xs:import>

    <!-- Stdin read element - joins invokable substitution group -->
    <xs:element name="read" substitutionGroup="agentml:invokable">
        <xs:complexType>
            <xs:attribute name="location" type="xs:string" />
            <xs:attribute name="dataid" type="xs:string" />
            <xs:attribute name="prompt" type="xs:string" />
            <xs:attribute name="promptexpr" type="xs:string" />
        </xs:complexType>
    </xs:element>

</xs:schema>